/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
	font-family: 'Karla', sans-serif;
	margin:0em;
}

/* Mobiel */
img{
	width: 100%;
}

h2{
	background-color: rgb(63,86,184);
	color: rgb(255,255,255);
	text-align: center;
	font-size: 1.2em;
	padding: 0.7em;
}


h3{
	background-color: rgb(63,86,184);
	color: rgb(255,255,255);
	text-align: center;
	font-size: 0.8em;
	padding: 0.7em;
}

figcaption{
	text-align: center;
	font-size: 1.5em;
	padding: 1em;
}

section:nth-of-type(2){
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr;
	grid-gap: 0em;
	padding-bottom: 2em;	
}

section:nth-of-type(3) a{
	background-color: rgb(63,86,184);
	color: rgb(255,255,255);
	padding: 1em;
	border-radius: 0.5em;
	font-size: 1em;
	text-decoration: none;
	margin-left: 35%;
}

section:nth-of-type(4){
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  	grid-template-rows: repeat(2, 1fr);
  	grid-gap: 1em;
  	margin-top: 3em;	
}

section:nth-of-type(5){
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr;
	grid-gap: 0em;	
}

/* Nav */
nav ul {
	display:flex;
 	justify-content:space-between;
 	background-color:rgb(38,38,38);
 	color:rgb(255,255,255);
 	padding: 2em;
 	list-style: none;
}

nav ul li:first-of-type{
	width: 8%;
}

nav ul li:nth-of-type(2){
	width: 30%;
	padding-top: 1em;
}

nav ul li:nth-of-type(3){
	width: 8%;
	margin-right: 0em;
}

/* Footer */
footer section ul li {
	list-style: none;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 0.8em;
}

footer section h2 {
	background-color: rgb(63,86,184);
	color: rgb(255,255,255);
	padding:1em;
	top: 10em;
	margin:0em;
	font-size: 1em;
	text-align: center;
	padding-bottom: 4em;
}

footer section button{
	margin-left: 40%;
	font-size: 1em;
	background-color: white;
	border: 1.5px solid black;
	border-radius: 4px;
	padding:0.5em;
	z-index: 4;
}

footer p{
	font-size: 1em;
	text-align: center;
	padding-top: 1em;
}

/*breakdown 600px*/

@media(min-width: 600px){
	h2{
		background-color: rgb(63,86,184);
		color: rgb(255,255,255);
		text-align: center;
		font-size: 2em;
		padding: 0.7em;
	}

	h3{	
		background-color: rgb(63,86,184);
		color: rgb(255,255,255);
		text-align: center;
		font-size: 1.5em;
		padding: 0.7em;
	}

	section:nth-of-type(2){
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0em;
		padding-bottom: 1em;	
	}

	figcaption{
		text-align: center;
		font-size: 2em;
		padding: 1em;
	}

	section:nth-of-type(3) a{
		background-color: rgb(63,86,184);
		color: rgb(255,255,255);
		padding: 1em;
		border-radius: 0.5em;
		font-size: 1.2em;
		text-decoration: none;
		margin-left: 40%;
	}

	section:nth-of-type(4){
		display: grid;
		grid-template-columns:(2, 1fr);
		grid-template-rows: (1, 1fr);
  		grid-gap: 1em;
  		margin-top: 1em;	
	}

/* nav */
	nav ul {
		display:flex;
 		justify-content:space-between;
 		background-color:rgb(38,38,38);
 		color:rgb(255,255,255);
 		padding: 2em;
 		list-style: none;
	}

	nav ul li:first-of-type{
		width: 8%;
	}

	nav ul li:nth-of-type(2){
		width: 30%;
		padding-top: 1em;
	}

	nav ul li:nth-of-type(3){
		width: 8%;
		margin-right: 0em;
	}

/* Footer */
	footer section ul li {
		list-style: none;
		text-align: center;
		padding-top: 1em;
	}

	footer section h2 {
		background-color: rgb(63,86,184);
		color: rgb(255,255,255);
		padding:1em;
		top: 10em;
		margin:0em;
		font-size: 1em;
		text-align: center;
		padding-bottom: 4em;
	}

	footer section button{
		margin-left: 45%;
		font-size: 1.2em;
		background-color: white;
		border: 1.5px solid black;
		border-radius: 4px;
		padding:0.5em;
	}

	footer p{
		font-size: 1em;
		text-align: center;
	}
}

/*breakdown 800px*/

@media(min-width: 800px){
	section:nth-of-type(4){
			display: grid;
			grid-template-columns: repeat(4, 1fr);
	  		grid-template-rows: (1, 1fr);
  			grid-gap: 1em;
  			margin-top: 3em;	
		}
	section:nth-of-type(5){
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: (1, 1fr);
		grid-gap: 0em;	
	}

/* Footer */
	footer section ul li {
		list-style: none;
		text-align: center;
		padding-top: 1em;
		font-size: 1.2em;
	}
	
	footer section h2 {
		background-color: rgb(63,86,184);
		color: rgb(255,255,255);
		padding:1em;
		top: 10em;
		margin:0em;
		font-size: 1em;
		text-align: center;
		padding-bottom: 4em;
	}

	footer section button{
		margin-left: 45%;
		font-size: 1.2em;
		background-color: white;
		border: 1.5px solid black;
		border-radius: 4px;
		padding:0.5em;
	}

	footer p{
		font-size: 1em;
		text-align: center;
	}
}

