/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

*{
	font-family: 'Karla', sans-serif;
	margin:0em;
}

nav ul {
	display:flex;
 	justify-content:space-between;
 	background-color:rgb(38,38,38);
 	color:rgb(255,255,255);
 	padding: 2em;
 	list-style: none;
}

img{
	width: 100%;
}

section{
	position: relative;
}

section h2 {
	background-color: rgba(63,86,184);
	color: rgb(255,255,255);
	padding: 0.5em;
	position: absolute;
	left: 10em;
	right: 10em;
	top: 10em;
}

h2{
	background-color: rgba(63,86,184);
	color: rgb(255,255,255);
	text-align: center;
	font-size: 2em;
	padding: 0.7em;
}

h3{
	background-color: rgba(63,86,184);
	color: rgb(255,255,255);
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 0.7em;
}

nav ul li:first-of-type{
	width: 8%;
}

nav ul li:nth-of-type(2){
	width: 30%;
	padding-top: 1em;
}

nav ul li:nth-of-type(3){
	width: 10%;
	margin-right: 0em;
}

nav ul li:nth-of-type(4){
	width: 8%;
	padding-top: 0.8em;
	margin-left: 0em;
}

/* CSS voor Journal*/

body.journal h1{
	font-size: 4em;
	color: black;
	padding: 1em;
}

body.journal h2{
	background-color: white;
	color: black;
	font-size: 1em;
	text-align: left;
	padding-left: 1em;
}